openapi: 3.0.3
info:
  title: 'DiData API Documentation'
  description: 'DiData api doc'
  version: 1.0.0
servers:
  -
    url: 'https://pilot.swissdidata.com/jupiter'
tags:
  -
    name: AccessRights\Permission
    description: ''
  -
    name: AccessRights\Project
    description: ''
  -
    name: AccessRights\Role
    description: ''
  -
    name: Actions\Action
    description: ''
  -
    name: Actions\Operation
    description: ''
  -
    name: Auth\ChangePassword
    description: ''
  -
    name: Auth\Login
    description: ''
  -
    name: Auth\_2FA
    description: ''
  -
    name: ChoiceCategory
    description: ''
  -
    name: Configurations\Configuration
    description: ''
  -
    name: Context
    description: ''
  -
    name: CustomView
    description: ''
  -
    name: DashBoards\DashBoard
    description: ''
  -
    name: DashBoards\Widget
    description: ''
  -
    name: DataView
    description: ''
  -
    name: Entity
    description: ''
  -
    name: EntityFiles
    description: ''
  -
    name: EntityType
    description: ''
  -
    name: Favorites\Favorite
    description: ''
  -
    name: Field
    description: ''
  -
    name: File
    description: ''
  -
    name: Folder
    description: ''
  -
    name: Forms\Form
    description: ''
  -
    name: Forms\FormLink
    description: ''
  -
    name: Forms\PublicForm
    description: ''
  -
    name: General
    description: ''
  -
    name: ImportExport
    description: ''
  -
    name: Languages\BasicLanguage
    description: ''
  -
    name: Languages\Translation
    description: ''
  -
    name: Languages\UserLanguage
    description: ''
  -
    name: Monitoring
    description: ''
  -
    name: NotificationsManager\NotificationTemplate
    description: ''
  -
    name: Plugins\Plugin
    description: ''
  -
    name: Printers\Printer
    description: ''
  -
    name: Printers\PrinterCompiler
    description: ''
  -
    name: Printers\PrinterTemplate
    description: ''
  -
    name: Printers\Printing
    description: ''
  -
    name: Publics\AppInfo
    description: ''
  -
    name: Publics\ClientDocuments
    description: ''
  -
    name: Rule
    description: ''
  -
    name: SpecificContexts\StorageContext
    description: ''
  -
    name: SpecificContexts\StudyDesignContext
    description: ''
  -
    name: Statistics
    description: ''
  -
    name: Task
    description: ''
  -
    name: UserRoutes\UserRoute
    description: ''
  -
    name: Users\Me\AuthenticatedUser
    description: ''
  -
    name: Users\Me\Notifications
    description: ''
  -
    name: Users\User
    description: ''
  -
    name: Workflows\Workflow
    description: ''
  -
    name: Auth\Logout
    description: ''
  -
    name: Endpoints
    description: ''
  -
    name: Forms\ChildForm
    description: ''
  -
    name: Forms\DisplayableFormContent
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: ''
security:
  -
    default: []
paths:
  /api/access-rights/permissions:
    get:
      summary: 'List permissions'
      operationId: listPermissions
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      example: access_to_sensitive_fields
                    description:
                      type: string
                      example: 'Access to sensitive fields'
                    groups:
                      type: array
                      example:
                        - Fields
                        - DataView
                        - Forms
                      items:
                        type: string
                example:
                  -
                    code: access_to_sensitive_fields
                    description: 'Access to sensitive fields'
                    groups:
                      - Fields
                      - DataView
                      - Forms
                  -
                    code: manage_all_projects
                    description: 'Manage all projects'
                    groups:
                      - Projects
                  -
                    code: create_field
                    description: 'Create field'
                    groups:
                      - Fields
                      - Forms
                  -
                    code: edit_field
                    description: 'Edit field'
                    groups:
                      - Fields
                  -
                    code: delete_field
                    description: 'Delete field'
                    groups:
                      - Fields
                  -
                    code: import_fields
                    description: 'Batch import of fields'
                    groups:
                      - Fields
                  -
                    code: edit_field_dynamic_tooltip
                    description: 'Edit field dynamic tooltip'
                    groups:
                      - Fields
                  -
                    code: create_entitytype
                    description: 'Create entity type'
                    groups:
                      - 'Entity types'
                  -
                    code: edit_entitytype
                    description: 'Edit entity type'
                    groups:
                      - 'Entity types'
                  -
                    code: delete_entitytype
                    description: 'Delete entity type'
                    groups:
                      - 'Entity types'
      tags:
        - AccessRights\Permission
  /api/access-rights/permissions/groups:
    get:
      summary: 'List supported permissions groups'
      operationId: listSupportedPermissionsGroups
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - Fields
                  - DataView
                  - Forms
                  - Projects
                  - 'Entity types'
                  - Configurations
                  - 'Study design'
                  - Workflows
                  - Storages
                  - DashBoards
                  - Users
                  - Rules
                  - Calculations
                  - Roles
                  - Others
                  - Files
                  - 'Forms links'
                  - Actions
                  - Routes
                  - 'Notifications manager'
                  - 'Choice category'
                  - Printers
                  - Plugins
                  - Favorites
                  - Languages
      tags:
        - AccessRights\Permission
  '/api/access-rights/permissions/{permission}':
    get:
      summary: 'Get permission'
      operationId: getPermission
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  code: access_to_sensitive_fields
                  description: 'Access to sensitive fields'
                  groups:
                    - Fields
                    - DataView
                    - Forms
                properties:
                  code:
                    type: string
                    example: access_to_sensitive_fields
                  description:
                    type: string
                    example: 'Access to sensitive fields'
                  groups:
                    type: array
                    example:
                      - Fields
                      - DataView
                      - Forms
                    items:
                      type: string
      tags:
        - AccessRights\Permission
    parameters:
      -
        in: path
        name: permission
        description: 'The permission code (in:[see list permission response codes]).'
        example: access_to_sensitive_fields
        required: true
        schema:
          type: string
  /api/access-rights/projects:
    get:
      summary: 'List projects'
      operationId: listProjects
      description: 'show all projects (without users)'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: Medic
                    icon:
                      type: object
                      properties:
                        code:
                          type: string
                          example: ezcze
                        color:
                          type: string
                          example: '#000000'
                    description:
                      type: string
                      example: null
                    parent_project_id:
                      type: integer
                      example: 1
                    created_at:
                      type: string
                      example: '2020-05-05 10:00:00'
                    updated_at:
                      type: string
                      example: '2020-05-05 10:00:00'
                example:
                  -
                    id: 1
                    name: Medic
                    icon:
                      code: ezcze
                      color: '#000000'
                    description: null
                    parent_project_id: 1
                    created_at: '2020-05-05 10:00:00'
                    updated_at: '2020-05-05 10:00:00'
                  -
                    id: 2
                    name: 'Asa Turner'
                    description: 'Ab accusamus qui voluptates et vitae sit consequatur sunt. Dolorum quaerat saepe itaque rerum. Fuga ullam maxime corrupti modi aut. Quia blanditiis voluptatum est veniam delectus quas perspiciatis.'
                    icon:
                      code: cezcez
                      color: '#000000'
                    parent_project_id: null
                    created_at: '2023-01-08T13:40:52.480000Z'
                    updated_at: '2023-01-08T13:40:52.480000Z'
                    userlanguage_id: null
      tags:
        - AccessRights\Project
    post:
      summary: 'Create project'
      operationId: createProject
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: "{\n    \"description\": null,\n    \"icon\": {\n         \"code\": null,\n         \"color\": null\n    },\n    \"name\": \"Project\",\n    \"parent_project_id\": 1,\n    \"created_at\": \"2021-02-21 10:05:49.929\",\n    \"updated_at\": \"2021-02-21 10:05:49.929\"\n    \"id\": 1,\n}"
      tags:
        - AccessRights\Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (unique)
                  example: architecto
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                icon:
                  type: object
                  description: ''
                  example: []
                  properties:
                    code:
                      type: string
                      description: '(required_unless:icon,null).'
                      example: rocket
                    color:
                      type: string
                      description: .
                      example: '#000000'
                parent_project_id:
                  type: integer
                  description: 'The project id.'
                  example: 1
              required:
                - name
  '/api/access-rights/projects/{project_id}':
    put:
      summary: 'Update project'
      operationId: updateProject
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (unique)
                  example: architecto
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                icon:
                  type: object
                  description: ''
                  example: []
                  properties:
                    code:
                      type: string
                      description: '(required_unless:icon,null).'
                      example: rocket
                    color:
                      type: string
                      description: .
                      example: '#000000'
                parent_project_id:
                  type: integer
                  description: 'The project id.'
                  example: 1
              required:
                - name
    delete:
      summary: 'Delete project'
      operationId: deleteProject
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Project
    parameters:
      -
        in: path
        name: project_id
        description: 'The ID of the project.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: project
        description: 'The project id.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/access-rights/projects/audits/{project_id}':
    get:
      summary: 'Audit project'
      operationId: auditProject
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 40
                    user_type:
                      type: string
                      example: App\Models\User
                    user_id:
                      type: integer
                      example: 2
                    event:
                      type: string
                      example: created
                    auditable_type:
                      type: string
                      example: App\Models\AccessRights\Projects\Project
                    auditable_id:
                      type: integer
                      example: 1
                    old_values:
                      type: array
                      example: []
                    new_values:
                      type: object
                      properties:
                        name:
                          type: string
                          example: p1
                        updated_at:
                          type: string
                          example: '2022-04-17 23:47:57'
                        created_at:
                          type: string
                          example: '2022-04-17 23:47:57'
                        id:
                          type: integer
                          example: 1
                    url:
                      type: string
                      example: 'http://127.0.0.1:8000/api/V4.2/access-rights/projects'
                    ip_address:
                      type: string
                      example: 127.0.0.1
                    user_agent:
                      type: string
                      example: PostmanRuntime/7.29.0
                    tags:
                      type: string
                      example: null
                    created_at:
                      type: string
                      example: '17-04-2022 21:47:57'
                    updated_at:
                      type: string
                      example: '17-04-2022 21:47:57'
                example:
                  -
                    id: 40
                    user_type: App\Models\User
                    user_id: 2
                    event: created
                    auditable_type: App\Models\AccessRights\Projects\Project
                    auditable_id: 1
                    old_values: []
                    new_values:
                      name: p1
                      updated_at: '2022-04-17 23:47:57'
                      created_at: '2022-04-17 23:47:57'
                      id: 1
                    url: 'http://127.0.0.1:8000/api/V4.2/access-rights/projects'
                    ip_address: 127.0.0.1
                    user_agent: PostmanRuntime/7.29.0
                    tags: null
                    created_at: '17-04-2022 21:47:57'
                    updated_at: '17-04-2022 21:47:57'
      tags:
        - AccessRights\Project
    parameters:
      -
        in: path
        name: project_id
        description: 'The ID of the project.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: project
        description: 'ID of the project to audit'
        example: 16
        required: true
        schema:
          type: integer
  '/api/access-rights/projects/{project_id}/users':
    get:
      summary: 'List project users'
      operationId: listProjectUsers
      description: 'Get project users with project role'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      example: 1
                    project_id:
                      type: integer
                      example: 1
                    role_id:
                      type: integer
                      example: 2
                    assigned_by_id:
                      type: integer
                      example: 1
                    assigned_at:
                      type: string
                      example: '2020-07-23 16:05:41'
                example:
                  -
                    user_id: 1
                    project_id: 1
                    role_id: 2
                    assigned_by_id: 1
                    assigned_at: '2020-07-23 16:05:41'
                  -
                    user_id: 2
                    project_id: 1
                    role_id: 2
                    assigned_by_id: 1
                    assigned_at: '2020-07-23 15:47:55'
      tags:
        - AccessRights\Project
    parameters:
      -
        in: path
        name: project_id
        description: 'The ID of the project.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: project
        description: 'The project id.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/access-rights/projects/{project_id}/users/{user_id}':
    put:
      summary: 'Set user project role'
      operationId: setUserProjectRole
      description: 'Update user role in the specific project'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role_id:
                  type: integer
                  description: ''
                  example: 16
              required:
                - role_id
    delete:
      summary: 'Remove user from project'
      operationId: removeUserFromProject
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Project
    parameters:
      -
        in: path
        name: project_id
        description: 'The ID of the project.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: project
        description: 'The project id.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: user
        description: 'The user id.'
        example: 1
        required: true
        schema:
          type: integer
  /api/access-rights/projects/resources/types:
    get:
      summary: 'List supported project resource types'
      operationId: listSupportedProjectResourceTypes
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - field
                  - entity
                  - custom_view
                  - form
                  - entitytype
                  - user_language
                  - workflow
                  - folder
                  - file
                  - action
                  - dashboard
                  - choice_category
                  - configuration
                  - printer
                  - printer_template
      tags:
        - AccessRights\Project
  '/api/access-rights/projects/resources/{project_resource_type}/{project_resource_id}':
    put:
      summary: 'Attach resource to projects'
      operationId: attachResourceToProjects
      description: 'Sync resource to projects'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_ids:
                  type: array
                  description: 'Array of projects ids'
                  example:
                    - 16
                  items:
                    type: integer
                    nullable: true
              required:
                - project_ids
    parameters:
      -
        in: path
        name: project_resource_type
        description: 'The ressource type (in:field,entity,custom_view,form,entitytype,user_language,workflow,folder,file,action,dashboard,choice_category,configuration,printer,printer_template).'
        example: entity
        required: true
        schema:
          type: string
      -
        in: path
        name: project_resource_id
        description: 'The ressource id.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/access-rights/projects/resources/{project_resource_type}/{project_resource_id}/projects':
    get:
      summary: 'List resource projects'
      operationId: listResourceProjects
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                example:
                  - 1
                  - 2
      tags:
        - AccessRights\Project
    parameters:
      -
        in: path
        name: project_resource_type
        description: 'The ressource type (in:field,entity,custom_view,form,entitytype,user_language,workflow,folder,file,action,dashboard,choice_category,configuration,printer,printer_template).'
        example: entity
        required: true
        schema:
          type: string
      -
        in: path
        name: project_resource_id
        description: 'Project resource id'
        example: 16
        required: true
        schema:
          type: integer
  '/api/access-rights/projects/resources/{project_resource_type}/batch':
    put:
      summary: 'Batch Sync resources to projects'
      operationId: batchSyncResourcesToProjects
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_ids:
                  type: array
                  description: 'int[] of projects ids'
                  example:
                    - architecto
                  items:
                    type: string
                    nullable: true
                resource_ids:
                  type: array
                  description: 'int[] of resources id'
                  example:
                    - architecto
                  items:
                    type: string
              required:
                - resource_ids
    parameters:
      -
        in: path
        name: project_resource_type
        description: 'string  The resource type (in:field,entity,custom_view,form,entitytype,user_language,workflow,folder,file,action,dashboard,choice_category,configuration,printer,printer_template).'
        example: entity
        required: true
        schema:
          type: string
  /api/access-rights/roles:
    get:
      summary: 'List roles'
      operationId: listRoles
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: 'Public role'
                    description:
                      type: string
                      example: null
                    icon:
                      type: object
                      properties:
                        code:
                          type: string
                          example: null
                        color:
                          type: string
                          example: null
                    level:
                      type: integer
                      example: 1
                    created_at:
                      type: string
                      example: '2023-01-08T13:40:32.610000Z'
                    updated_at:
                      type: string
                      example: '2023-01-08T13:40:32.610000Z'
                example:
                  -
                    id: 1
                    name: 'Public role'
                    description: null
                    icon:
                      code: null
                      color: null
                    level: 1
                    created_at: '2023-01-08T13:40:32.610000Z'
                    updated_at: '2023-01-08T13:40:32.610000Z'
                  -
                    id: 2
                    name: administrator
                    description: null
                    icon:
                      code: null
                      color: null
                    level: 1
                    created_at: '2023-01-08T13:40:33.570000Z'
                    updated_at: '2023-01-08T13:40:33.570000Z'
                  -
                    id: 3
                    name: 'Ms. Maribel Schaden III'
                    description: 'Consequatur atque id repellat ut molestias qui corrupti. Tempore ea quos aut dolor ducimus quaerat voluptas. Beatae doloremque libero et id.'
                    icon:
                      code: null
                      color: null
                    level: 1
                    created_at: '2023-01-08T13:40:40.460000Z'
                    updated_at: '2023-01-08T13:40:40.460000Z'
      tags:
        - AccessRights\Role
    post:
      summary: 'Create role'
      operationId: createRole
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  name: role_admin
                  description: description
                  icon: icon_name
                  level: 1
                  updated_at: '2021-02-21 11:27:22.374'
                  created_at: '2021-02-21 11:27:22.374'
                  id: 4
                properties:
                  name:
                    type: string
                    example: role_admin
                  description:
                    type: string
                    example: description
                  icon:
                    type: string
                    example: icon_name
                  level:
                    type: integer
                    example: 1
                  updated_at:
                    type: string
                    example: '2021-02-21 11:27:22.374'
                  created_at:
                    type: string
                    example: '2021-02-21 11:27:22.374'
                  id:
                    type: integer
                    example: 4
      tags:
        - AccessRights\Role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (unique)
                  example: architecto
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                icon:
                  type: object
                  description: ''
                  example: []
                  properties:
                    code:
                      type: string
                      description: '(required_unless:icon,null).'
                      example: rocket
                    color:
                      type: string
                      description: .
                      example: '#000000'
                level:
                  type: integer
                  description: '. Example 2'
                  example: 16
              required:
                - name
                - level
  '/api/access-rights/roles/{role_id}':
    put:
      summary: 'Update role'
      operationId: updateRole
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: (unique)
                  example: architecto
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                icon:
                  type: object
                  description: ''
                  example: []
                  properties:
                    code:
                      type: string
                      description: '(required_unless:icon,null).'
                      example: rocket
                    color:
                      type: string
                      description: .
                      example: '#000000'
                level:
                  type: integer
                  description: '. Example 2'
                  example: 16
              required:
                - name
    delete:
      summary: 'Delete role'
      operationId: deleteRole
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Role
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: role
        description: 'The role id.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/access-rights/roles/audits/{role_id}':
    get:
      summary: 'Audit role'
      operationId: auditRole
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 43
                    user_type:
                      type: string
                      example: App\Models\User
                    user_id:
                      type: integer
                      example: 2
                    event:
                      type: string
                      example: created
                    auditable_type:
                      type: string
                      example: role
                    auditable_id:
                      type: integer
                      example: 3
                    old_values:
                      type: array
                      example: []
                    new_values:
                      type: object
                      properties:
                        name:
                          type: string
                          example: manager
                        description:
                          type: string
                          example: null
                        icon:
                          type: object
                          properties:
                            code:
                              type: string
                              example: null
                            color:
                              type: string
                              example: null
                        level:
                          type: integer
                          example: 1
                        updated_at:
                          type: string
                          example: '2022-04-17 23:53:12'
                        created_at:
                          type: string
                          example: '2022-04-17 23:53:12'
                        id:
                          type: integer
                          example: 3
                    url:
                      type: string
                      example: 'http://127.0.0.1:8000/api/V4.2/access-rights/roles'
                    ip_address:
                      type: string
                      example: 127.0.0.1
                    user_agent:
                      type: string
                      example: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
                    tags:
                      type: string
                      example: null
                    created_at:
                      type: string
                      example: '17-04-2022 21:53:12'
                    updated_at:
                      type: string
                      example: '17-04-2022 21:53:12'
                example:
                  -
                    id: 43
                    user_type: App\Models\User
                    user_id: 2
                    event: created
                    auditable_type: role
                    auditable_id: 3
                    old_values: []
                    new_values:
                      name: manager
                      description: null
                      icon:
                        code: null
                        color: null
                      level: 1
                      updated_at: '2022-04-17 23:53:12'
                      created_at: '2022-04-17 23:53:12'
                      id: 3
                    url: 'http://127.0.0.1:8000/api/V4.2/access-rights/roles'
                    ip_address: 127.0.0.1
                    user_agent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36'
                    tags: null
                    created_at: '17-04-2022 21:53:12'
                    updated_at: '17-04-2022 21:53:12'
      tags:
        - AccessRights\Role
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: role
        description: 'The id of the role to audit'
        example: 16
        required: true
        schema:
          type: integer
  /api/access-rights/roles/permissions:
    get:
      summary: 'List permissions roles'
      operationId: listPermissionsRoles
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    role_id:
                      type: integer
                      example: 1
                    permission_code:
                      type: string
                      example: create_field
                example:
                  -
                    role_id: 1
                    permission_code: create_field
                  -
                    role_id: 1
                    permission_code: update_field
      tags:
        - AccessRights\Role
  '/api/access-rights/roles/{role_id}/permissions/{permission}':
    post:
      summary: 'Add permission'
      operationId: addPermission
      description: 'Add permission to the specified  role'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Role
    delete:
      summary: 'Remove permission'
      operationId: removePermission
      description: 'Remove permission from the specified role'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - AccessRights\Role
    parameters:
      -
        in: path
        name: role_id
        description: 'The ID of the role.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: permission
        description: 'The permission code.'
        example: create_entity
        required: true
        schema:
          type: string
      -
        in: path
        name: role
        description: 'The role id.'
        example: 1
        required: true
        schema:
          type: integer
  /api/actions:
    get:
      summary: 'List actions'
      operationId: listActions
      description: 'Display a listing actions (without operations)'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: show
                    description:
                      type: string
                      example: null
                    created_at:
                      type: string
                      example: '2022-04-14T10:52:05.000000Z'
                    updated_at:
                      type: string
                      example: '2022-04-14T10:52:05.000000Z'
                    icon:
                      type: object
                      properties:
                        code:
                          type: string
                          example: null
                        color:
                          type: string
                          example: null
                    _entitytypes:
                      type: array
                      example:
                        -
                          id: 1
                          context_id: 1
                          name: Subject
                          label: Subject
                          created_at: '2022-04-14T10:12:01.000000Z'
                          updated_at: '2022-04-14T10:12:05.000000Z'
                          icon: null
                          default_form_id: null
                          shown_field_id: 7
                          is_system: 0
                          highlight: null
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          context_id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: Subject
                          label:
                            type: string
                            example: Subject
                          created_at:
                            type: string
                            example: '2022-04-14T10:12:01.000000Z'
                          updated_at:
                            type: string
                            example: '2022-04-14T10:12:05.000000Z'
                          icon:
                            type: string
                            example: null
                          default_form_id:
                            type: string
                            example: null
                          shown_field_id:
                            type: integer
                            example: 7
                          is_system:
                            type: integer
                            example: 0
                          highlight:
                            type: string
                            example: null
                    used_by:
                      type: integer
                      example: 2
                    used_at:
                      type: string
                      example: '2024-12-03 14:14:09'
                example:
                  -
                    id: 1
                    name: show
                    description: null
                    created_at: '2022-04-14T10:52:05.000000Z'
                    updated_at: '2022-04-14T10:52:05.000000Z'
                    icon:
                      code: null
                      color: null
                    _entitytypes:
                      -
                        id: 1
                        context_id: 1
                        name: Subject
                        label: Subject
                        created_at: '2022-04-14T10:12:01.000000Z'
                        updated_at: '2022-04-14T10:12:05.000000Z'
                        icon: null
                        default_form_id: null
                        shown_field_id: 7
                        is_system: 0
                        highlight: null
                    used_by: 2
                    used_at: '2024-12-03 14:14:09'
      tags:
        - Actions\Action
    post:
      summary: 'Create action'
      operationId: createAction
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  name: show
                  updated_at: '2022-04-12T10:13:20.000000Z'
                  created_at: '2022-04-12T10:13:20.000000Z'
                  id: 8
                  _entitytypes:
                    -
                      id: 1
                      context_id: 1
                      name: Subject
                      label: Subject
                      created_at: '2022-04-12T10:08:58.000000Z'
                      updated_at: '2022-04-12T10:09:02.000000Z'
                      icon:
                        code: null
                        color: null
                      default_form_id: null
                      shown_field_id: 7
                      is_system: 0
                      highlight: null
                  document_id: null
                  used_by: null
                  used_at: null
                properties:
                  name:
                    type: string
                    example: show
                  updated_at:
                    type: string
                    example: '2022-04-12T10:13:20.000000Z'
                  created_at:
                    type: string
                    example: '2022-04-12T10:13:20.000000Z'
                  id:
                    type: integer
                    example: 8
                  _entitytypes:
                    type: array
                    example:
                      -
                        id: 1
                        context_id: 1
                        name: Subject
                        label: Subject
                        created_at: '2022-04-12T10:08:58.000000Z'
                        updated_at: '2022-04-12T10:09:02.000000Z'
                        icon:
                          code: null
                          color: null
                        default_form_id: null
                        shown_field_id: 7
                        is_system: 0
                        highlight: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        context_id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Subject
                        label:
                          type: string
                          example: Subject
                        created_at:
                          type: string
                          example: '2022-04-12T10:08:58.000000Z'
                        updated_at:
                          type: string
                          example: '2022-04-12T10:09:02.000000Z'
                        icon:
                          type: object
                          properties:
                            code:
                              type: string
                              example: null
                            color:
                              type: string
                              example: null
                        default_form_id:
                          type: string
                          example: null
                        shown_field_id:
                          type: integer
                          example: 7
                        is_system:
                          type: integer
                          example: 0
                        highlight:
                          type: string
                          example: null
                  document_id:
                    type: string
                    example: null
                  used_by:
                    type: string
                    example: null
                  used_at:
                    type: string
                    example: null
      tags:
        - Actions\Action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                icon:
                  type: object
                  description: ''
                  example: []
                  properties:
                    code:
                      type: string
                      description: '(required_unless:icon,null).'
                      example: rocket
                    color:
                      type: string
                      description: .
                      example: '#000000'
                entitytypes:
                  type: array
                  description: 'List of entitytype ids'
                  example:
                    - 16
                  items:
                    type: integer
                requires_entity:
                  type: boolean
                  description: ''
                  example: false
                document_id:
                  type: integer
                  description: 'the id of the entity (belongs to document context)'
                  example: 16
              required:
                - name
                - requires_entity
  '/api/actions/audits/{access_action}':
    get:
      summary: 'Audit action'
      operationId: auditAction
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 45
                    user_type:
                      type: string
                      example: App\Models\User
                    user_id:
                      type: integer
                      example: 2
                    event:
                      type: string
                      example: created
                    auditable_type:
                      type: string
                      example: action
                    auditable_id:
                      type: integer
                      example: 1
                    old_values:
                      type: array
                      example: []
                    new_values:
                      type: object
                      properties:
                        name:
                          type: string
                          example: show
                        updated_at:
                          type: string
                          example: '2022-04-17 23:57:38'
                        created_at:
                          type: string
                          example: '2022-04-17 23:57:38'
                        id:
                          type: integer
                          example: 1
                    url:
                      type: string
                      example: 'http://127.0.0.1:8000/api/V4.2/actions'
                    ip_address:
                      type: string
                      example: 127.0.0.1
                    user_agent:
                      type: string
                      example: PostmanRuntime/7.29.0
                    tags:
                      type: string
                      example: null
                    created_at:
                      type: string
                      example: '17-04-2022 21:57:38'
                    updated_at:
                      type: string
                      example: '17-04-2022 21:57:38'
                example:
                  -
                    id: 45
                    user_type: App\Models\User
                    user_id: 2
                    event: created
                    auditable_type: action
                    auditable_id: 1
                    old_values: []
                    new_values:
                      name: show
                      updated_at: '2022-04-17 23:57:38'
                      created_at: '2022-04-17 23:57:38'
                      id: 1
                    url: 'http://127.0.0.1:8000/api/V4.2/actions'
                    ip_address: 127.0.0.1
                    user_agent: PostmanRuntime/7.29.0
                    tags: null
                    created_at: '17-04-2022 21:57:38'
                    updated_at: '17-04-2022 21:57:38'
      tags:
        - Actions\Action
    parameters:
      -
        in: path
        name: access_action
        description: 'The ID of the action to audit'
        example: architecto
        required: true
        schema:
          type: string
  '/api/actions/{access_action}':
    get:
      summary: 'Get action'
      operationId: getAction
      description: 'Get specified action (with its operations).'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  name: Expanded
                  description: null
                  created_at: '2022-12-12T09:16:03.000000Z'
                  updated_at: '2022-12-12T09:16:03.000000Z'
                  icon:
                    code: null
                    color: null
                  document_id: null
                  requires_entity: true
                  _entitytypes: []
                  _operations: []
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Expanded
                  description:
                    type: string
                    example: null
                  created_at:
                    type: string
                    example: '2022-12-12T09:16:03.000000Z'
                  updated_at:
                    type: string
                    example: '2022-12-12T09:16:03.000000Z'
                  icon:
                    type: object
                    properties:
                      code:
                        type: string
                        example: null
                      color:
                        type: string
                        example: null
                  document_id:
                    type: string
                    example: null
                  requires_entity:
                    type: boolean
                    example: true
                  _entitytypes:
                    type: array
                    example: []
                  _operations:
                    type: array
                    example: []
      tags:
        - Actions\Action
    put:
      summary: 'Update action'
      operationId: updateAction
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - Actions\Action
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                icon:
                  type: object
                  description: ''
                  example: []
                  properties:
                    code:
                      type: string
                      description: '(required_unless:icon,null).'
                      example: rocket
                    color:
                      type: string
                      description: .
                      example: '#000000'
                entitytypes:
                  type: array
                  description: 'List of entitytype ids'
                  example:
                    - 16
                  items:
                    type: integer
                requires_entity:
                  type: boolean
                  description: ''
                  example: false
                document_id:
                  type: integer
                  description: 'the id of the entity (belongs to document context)'
                  example: 16
    delete:
      summary: 'Delete action'
      operationId: deleteAction
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - Actions\Action
    copy:
      summary: 'Clone action'
      operationId: cloneAction
      description: 'Clone a specific action (with its operations).'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  name: Expanded
                  description: null
                  created_at: '2022-12-12T09:16:03.000000Z'
                  updated_at: '2022-12-12T09:16:03.000000Z'
                  icon:
                    code: null
                    color: null
                  document_id: null
                  requires_entity: true
                  _entitytypes: []
                  _operations: []
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Expanded
                  description:
                    type: string
                    example: null
                  created_at:
                    type: string
                    example: '2022-12-12T09:16:03.000000Z'
                  updated_at:
                    type: string
                    example: '2022-12-12T09:16:03.000000Z'
                  icon:
                    type: object
                    properties:
                      code:
                        type: string
                        example: null
                      color:
                        type: string
                        example: null
                  document_id:
                    type: string
                    example: null
                  requires_entity:
                    type: boolean
                    example: true
                  _entitytypes:
                    type: array
                    example: []
                  _operations:
                    type: array
                    example: []
      tags:
        - Actions\Action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
              required:
                - name
    parameters:
      -
        in: path
        name: access_action
        description: 'The action ID'
        example: 16
        required: true
        schema:
          type: integer
  /api/actions/operations:
    get:
      summary: 'List operations'
      operationId: listOperations
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    action_id:
                      type: integer
                      example: 1
                    position:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: op
                    resource_id:
                      type: integer
                      example: 1
                    resource_type:
                      type: string
                      example: form
                    type:
                      type: string
                      example: create_entity
                    created_at:
                      type: string
                      example: '2022-11-09T09:13:53.830000Z'
                    updated_at:
                      type: string
                      example: '2022-11-09T09:13:53.830000Z'
                    auto_execution:
                      type: integer
                      example: 0
                    server_side_execution:
                      type: boolean
                      example: false
                    meta_data:
                      type: object
                      properties:
                        nb_entities:
                          type: integer
                          example: 1
                    keep_ui_after_execution:
                      type: boolean
                      example: false
                example:
                  -
                    id: 1
                    action_id: 1
                    position: 1
                    name: op
                    resource_id: 1
                    resource_type: form
                    type: create_entity
                    created_at: '2022-11-09T09:13:53.830000Z'
                    updated_at: '2022-11-09T09:13:53.830000Z'
                    auto_execution: 0
                    server_side_execution: false
                    meta_data:
                      nb_entities: 1
                    keep_ui_after_execution: false
      tags:
        - Actions\Operation
    post:
      summary: 'Create operation'
      operationId: createOperation
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        201:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: "{\n   \"id\": 18,\n   \"auto_execution\": true,\n   \"action_id\": 1,\n   \"position\": 15,\n   \"name\": \"s\",\n   \"resource_id\": null,\n   \"resource_type\": null,\n   \"server_side_execution\": false,\n   \"keep_ui_after_execution\":true,\n   \"meta_data\" => null,\n   \"type\": \"delete_entity\",\n   \"created_at\": \"2020-05-18 20:55:36\",\n   \"updated_at\": \"2020-05-18 20:55:36\"\n  }"
      tags:
        - Actions\Operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                action_id:
                  type: integer
                  description: ''
                  example: 16
                type:
                  type: string
                  description: '(in:create_entity,update_entity,delete_entity,assign_entity_to_projects,attach_entity_to_study,2D_view,route_call,clone_entity,print_label,send_email,generate_pdf_report,excel_import,excel_export,excel_export).'
                  example: create_entity
                resource_id:
                  type: integer
                  description: '(required_if:type,create_entity,update_entity,clone_entity,route_call,print_label)'
                  example: 16
                auto_execution:
                  type: boolean
                  description: ''
                  example: false
                keep_ui_after_execution:
                  type: boolean
                  description: ''
                  example: false
                apply_changes_for_remaining_entities:
                  type: boolean
                  description: ''
                  example: false
                display_apply_changes_for_remaining_entities:
                  type: boolean
                  description: ''
                  example: false
                meta_data:
                  type: object
                  description: ''
                  example: []
                  properties:
                    nb_entities:
                      type: integer
                      description: '(required_if:type,create_entity,clone_entity)'
                      example: 16
                    collective_submission:
                      type: boolean
                      description: '(required_if:type,create_entity,update_entity)'
                      example: false
                    nb_records_per_batch:
                      type: integer
                      description: '(required_if:type,create_entity,update_entity|collective_submission,true)'
                      example: 5
                    email_field_id:
                      type: integer
                      description: '(required_if:type,send_email)'
                      example: 16
                    email_template:
                      type: string
                      description: '(required_if:type,send_email,generate_pdf_report-send_email)'
                      example: architecto
                    output_type:
                      type: string
                      description: '(required_if:type,generate_pdf_report|in:download,send_email).'
                      example: send_email
                    pdf_password:
                      type: boolean
                      description: '(present_if:type,generate_pdf_report)'
                      example: false
                    pdf_size:
                      type: string
                      description: '(required_if:type,generate_pdf_report).'
                      example: a4
                    pdf_orientation:
                      type: string
                      description: '(required_if:type,generate_pdf_report).'
                      example: portrait
                    template_source:
                      type: string
                      description: '(required_if:type,generate_pdf_report|in:field,template).'
                      example: template
                    pdf_template:
                      type: string
                      description: '(required_if:template_source,generate_pdf_report)'
                      example: architecto
                    field_id:
                      type: integer
                      description: 'Only rich text fields are accepted (required_if:template_source,field)'
                      example: 16
                    php_script:
                      type: string
                      description: 'Has access to $entity variable and must return an array (required_if:type,generate_pdf_report).'
                      example: 'return $entity;'
                    config:
                      type: object
                      description: '(required_if:type,excel_import).'
                      example:
                        mode: update
                        identify_entities_by:
                          - id
                        identify_entities_by_entitytype_id: null
                        entitytype_id: 1
                        upsert: 0
                        deleteEmptyCells: 1
                        get_changed_fields: 0
                        fieldValueKey: label
                        fixedChoiceValueKey: value
                        shownValues:
                          27: 33
                      properties:
                        mode:
                          type: string
                          description: '(required_if:type,excel_import|in:create,update)'
                          example: architecto
                        default_values:
                          type: object
                          description: '(required_if:type,excel_import).'
                          example:
                            -
                              field_id: 27
                              default_value:
                                value: 3
                                type: static
                          properties: {  }
              required:
                - name
                - action_id
                - type
                - keep_ui_after_execution
                - apply_changes_for_remaining_entities
                - display_apply_changes_for_remaining_entities
  /api/actions/operations/types:
    get:
      summary: 'List supported types'
      operationId: listSupportedTypes
      description: 'Get supported actions operations types'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  create_entity:
                    resource_type: form
                    description: 'Create entity using form'
                    support_auto_execution: true
                  update_entity:
                    resource_type: form
                    description: 'Update entity using form'
                    support_auto_execution: true
                  delete_entity:
                    resource_type: null
                    description: 'Delete entity'
                    support_auto_execution: true
                  assign_entity_to_projects:
                    resource_type: null
                    description: 'Assign entity to projects'
                    support_auto_execution: false
                  attach_entity_to_study:
                    resource_type: null
                    description: 'Attach entity to study'
                    support_auto_execution: false
                  2D_view:
                    resource_type: null
                    description: '2D view'
                    support_auto_execution: false
                  route_call:
                    resource_type: user_route
                    description: 'Route call'
                    support_auto_execution: true
                  clone_entity:
                    resource_type: form
                    description: 'Clone entity'
                    support_auto_execution: true
                  print_label:
                    resource_type: printer_template
                    description: 'Print label'
                    support_auto_execution: true
                  send_email:
                    description: 'Send Email'
                    support_auto_execution: true
                  generate_pdf_report:
                    description: 'Generate pdf report'
                    resource_type: null
                    support_auto_execution: true
                  excel_import:
                    description: 'Import an excel'
                    resource_type: null
                    support_auto_execution: true
                  excel_export:
                    description: 'Export an excel'
                    resource_type: null
                    support_auto_execution: true
                properties:
                  create_entity:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: form
                      description:
                        type: string
                        example: 'Create entity using form'
                      support_auto_execution:
                        type: boolean
                        example: true
                  update_entity:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: form
                      description:
                        type: string
                        example: 'Update entity using form'
                      support_auto_execution:
                        type: boolean
                        example: true
                  delete_entity:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: null
                      description:
                        type: string
                        example: 'Delete entity'
                      support_auto_execution:
                        type: boolean
                        example: true
                  assign_entity_to_projects:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: null
                      description:
                        type: string
                        example: 'Assign entity to projects'
                      support_auto_execution:
                        type: boolean
                        example: false
                  attach_entity_to_study:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: null
                      description:
                        type: string
                        example: 'Attach entity to study'
                      support_auto_execution:
                        type: boolean
                        example: false
                  2D_view:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: null
                      description:
                        type: string
                        example: '2D view'
                      support_auto_execution:
                        type: boolean
                        example: false
                  route_call:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: user_route
                      description:
                        type: string
                        example: 'Route call'
                      support_auto_execution:
                        type: boolean
                        example: true
                  clone_entity:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: form
                      description:
                        type: string
                        example: 'Clone entity'
                      support_auto_execution:
                        type: boolean
                        example: true
                  print_label:
                    type: object
                    properties:
                      resource_type:
                        type: string
                        example: printer_template
                      description:
                        type: string
                        example: 'Print label'
                      support_auto_execution:
                        type: boolean
                        example: true
                  send_email:
                    type: object
                    properties:
                      description:
                        type: string
                        example: 'Send Email'
                      support_auto_execution:
                        type: boolean
                        example: true
                  generate_pdf_report:
                    type: object
                    properties:
                      description:
                        type: string
                        example: 'Generate pdf report'
                      resource_type:
                        type: string
                        example: null
                      support_auto_execution:
                        type: boolean
                        example: true
                  excel_import:
                    type: object
                    properties:
                      description:
                        type: string
                        example: 'Import an excel'
                      resource_type:
                        type: string
                        example: null
                      support_auto_execution:
                        type: boolean
                        example: true
                  excel_export:
                    type: object
                    properties:
                      description:
                        type: string
                        example: 'Export an excel'
                      resource_type:
                        type: string
                        example: null
                      support_auto_execution:
                        type: boolean
                        example: true
      tags:
        - Actions\Operation
  /api/actions/operations/max:
    get:
      summary: 'Get number of max operations by action'
      operationId: getNumberOfMaxOperationsByAction
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  max_operations_by_action: 100
                properties:
                  max_operations_by_action:
                    type: integer
                    example: 100
      tags:
        - Actions\Operation
  '/api/actions/operations/audits/{access_operation}':
    get:
      summary: 'Audit operation'
      operationId: auditOperation
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 39
                    user_type:
                      type: string
                      example: App\Models\User
                    user_id:
                      type: integer
                      example: 2
                    event:
                      type: string
                      example: created
                    auditable_type:
                      type: string
                      example: operation
                    auditable_id:
                      type: string
                      example: '1'
                    old_values:
                      type: array
                      example: []
                    new_values:
                      type: object
                      properties:
                        action_id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Reduced
                        type:
                          type: string
                          example: create_entity
                        auto_execution:
                          type: boolean
                          example: false
                        meta_data:
                          type: string
                          example: '{"nb_entities":1}'
                        keep_ui_after_execution:
                          type: boolean
                          example: false
                        server_side_execution:
                          type: boolean
                          example: false
                        resource_type:
                          type: string
                          example: form
                        resource_id:
                          type: integer
                          example: 3
                        position:
                          type: integer
                          example: 1
                        updated_at:
                          type: string
                          example: '2023-01-09 10:51:30.651'
                        created_at:
                          type: string
                          example: '2023-01-09 10:51:30.651'
                        id:
                          type: integer
                          example: 1
                    url:
                      type: string
                      example: 'http://localhost:8000/api/V5.1/actions/operations'
                    ip_address:
                      type: string
                      example: 127.0.0.1
                    user_agent:
                      type: string
                      example: PostmanRuntime/7.30.0
                    tags:
                      type: string
                      example: null
                    created_at:
                      type: string
                      example: '09-01-2023 09:51:30'
                    updated_at:
                      type: string
                      example: '09-01-2023 09:51:30'
                example:
                  -
                    id: 39
                    user_type: App\Models\User
                    user_id: 2
                    event: created
                    auditable_type: operation
                    auditable_id: '1'
                    old_values: []
                    new_values:
                      action_id: 1
                      name: Reduced
                      type: create_entity
                      auto_execution: false
                      meta_data: '{"nb_entities":1}'
                      keep_ui_after_execution: false
                      server_side_execution: false
                      resource_type: form
                      resource_id: 3
                      position: 1
                      updated_at: '2023-01-09 10:51:30.651'
                      created_at: '2023-01-09 10:51:30.651'
                      id: 1
                    url: 'http://localhost:8000/api/V5.1/actions/operations'
                    ip_address: 127.0.0.1
                    user_agent: PostmanRuntime/7.30.0
                    tags: null
                    created_at: '09-01-2023 09:51:30'
                    updated_at: '09-01-2023 09:51:30'
      tags:
        - Actions\Operation
    parameters:
      -
        in: path
        name: access_operation
        description: ''
        example: '3642559'
        required: true
        schema:
          type: string
      -
        in: path
        name: action_operation
        description: 'The ID of the operation to audit'
        example: 16
        required: true
        schema:
          type: integer
  '/api/actions/operations/{access_operation}/run':
    post:
      summary: 'Run operation'
      operationId: runOperation
      description: 'Operations server side execution only generate_pdf_report & send_email'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - Actions\Operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_id:
                  type: integer
                  description: ''
                  example: 16
                enable_pdf_password:
                  type: boolean
                  description: '(if:operation,generate_pdf_report)'
                  example: false
                pdf_password:
                  type: string
                  description: '(if:operation,generate_pdf_report)'
                  example: architecto
              required:
                - resource_id
    parameters:
      -
        in: path
        name: access_operation
        description: ''
        example: '3642559'
        required: true
        schema:
          type: string
      -
        in: path
        name: action_operation
        description: 'The operation ID'
        example: 16
        required: true
        schema:
          type: integer
  '/api/actions/operations/{access_operation}':
    put:
      summary: 'Update operation'
      operationId: updateOperation
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: ''
      tags:
        - Actions\Operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                action_id:
                  type: integer
                  description: '(can not update it)'
                  example: 16
                type:
                  type: string
                  description: ''
                  example: architecto
                resource_id:
                  type: integer
                  description: ''
                  example: 16
                auto_execution:
                  type: boolean
                  description: ''
                  example: false
                keep_ui_after_execution:
                  type: boolean
                  description: ''
                  example: false
                apply_changes_for_remaining_entities:
                  type: boolean
                  description: ''
                  example: false
                display_apply_changes_for_remaining_entities:
                  type: boolean
                  description: ''
                  example: false
                meta_data:
                  type: object
                  description: ''
                  example: []
                  properties:
                    nb_entities:
                      type: integer
                      description: '(required_if:type,create_entity,clone_entity)'
                      example: 16
                    collective_submission:
                      type: boolean
                      description: '(required_if:type,create_entity,update_entity)'
                      example: false
                    nb_records_per_batch:
                      type: integer
                      description: '(required_if:type,create_entity,update_entity|collective_submission,true)'
                      example: 5
                    email_field_id:
                      type: integer
                      description: '(required_if:type,send_email)'
                      example: 16
                    email_template:
                      type: string
                      description: '(required_if:type,send_email,generate_pdf_report-send_email)'
                      example: architecto
                    output_type:
                      type: string
                      description: '(required_if:type,generate_pdf_report|in:download,send_email).'
                      example: send_email
                    pdf_password:
                      type: boolean
                      description: '(present_if:type,generate_pdf_report)'
                      example: false
                    pdf_size:
                      type: string
                      description: '(required_if:type,generate_pdf_report).'
                      example: a4
                    pdf_orientation:
                      type: string
                      description: '(required_if:type,generate_pdf_report).'
                      example: portrait
                    template_source:
                      type: string
                      description: '(required_if:type,generate_pdf_report|in:field,template).'
                      example: template
                    pdf_template:
                      type: string
                      description: '(required_if:template_source,generate_pdf_report)'
                      example: architecto
                    field_id:
                      type: integer
                      description: 'Only rich text fields are accepted (required_if:template_source,field)'
                      example: 16
                    php_script:
                      type: string
                      description: 'Has access to $entity variable and must return an array (required_if:type,generate_pdf_report).'
                      example: 'return $entity;'
                    config:
                      type: object
                      description: '(required_if:type,excel_import).'
                      example:
                        mode: create
                        fieldValueKey: name
                        fixedChoiceValueKey: value
                        entitytype_id: null
                        overrideEntityTypeId: false
                        shownValues:
                          27: 33
                      properties:
                        mode:
                          type: string
                          description: '(required_if:type,excel_import|in:create,update)'
                          example: architecto
                        default_values:
                          type: object
                          description: '(required_if:type,excel_import).'
                          example:
                            -
                              field_id: 27
                              default_value:
                                value: 3
                                type: static
                          properties: {  }
              required:
                - apply_changes_for_remaining_entities
                - display_apply_changes_for_remaining_entities
    delete:
      summary: 'Delete operation'
      operationId: deleteOperation
      description: ''
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        204:
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: 'null'
      tags:
        - Actions\Operation
    copy:
      summary: 'Clone Operation'
      operationId: cloneOperation
      description: 'Clone a specific operation.'
      parameters:
        -
          in: header
          name: Didata-Project-Id
          description: ''
          example: 1
          schema:
            type: string
      responses:
        200:
          description: success
          content:
            application/json:
              schema:
                type: object
                example:
                  action_id: 25
                  position: 7
                  name: 'Copy of storage/Freezer_-80'
                  resource_id: 1
                  resource_type: form
                  keep_ui_after_execution: false
                  type: update_entity
                  server_side_execution: false
                  meta_data:
                    collective_submission: false
                  auto_execution: 0
                  apply_changes_for_remaining_entities: true
                  display_apply_changes_for_remaining_entities: true
                  updated_at: '2025-09-28T15:41:45.000000Z'
                  created_at: '2025-09-28T15:41:45.000000Z'
[...]
